.checkbtn{
    float:right;
    font-size:2rem;
    display: none;
    margin-bottom: 1rem;
    margin-right: 1rem;
}
#checkbox{
    display: none;
}
@media (max-width:1450px){
    .nav-left{
        margin-left: 10px;
    }
}
@media (max-width:973px){
    .checkbtn{
        display: block;
        position: absolute;
        right: 0;
    }
    .nav-left{
        margin-left: 7px;
        margin-bottom: 10px;
    }
    .navList{
        position:fixed;
        width:100%;
        height: 100vh;
        background:#bab8ff;
        top:80px;
        left:-100vw;
        text-align: center;
        transition: all .5s;
        z-index: 99;
    }
    .navListItem{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    #checkbox:checked ~ .navList{
        left:0;
        background-color: aqua;
    }
}
